*{

	font-family:'Arial Narrow';
}


.container{
	width: 800px;
	margin: 60px auto;

	display: flex;



}
.option_gestion{
	padding: 20px;
	background: white;
	margin: 10px auto;
	display: block;
	justify-content: center;
	border-radius: 10px;
	box-shadow: 1px 2px 10px black;

}
.option_gestion input{
	padding: 10px;
	font-size: 20px;
	border-radius: 10px;
}
.option_gestion input:hover{
	background: greenyellow;
	transition: .4s ease_in_out;
}

.container_actualite{
	display: grid;
	grid-template-columns:1fr 1fr;
background: lightgray;
}
.liste_moderateurs{

grid-column: 3/1;
padding: 20px;
margin: 5px;
background-color: white;
}
.liste_actualites{
background-color: white;
margin: 5px;
}
.actualite_infos{
	background:white;
	margin: 5px ;
	display: block;
}
.liste_actualites img{
	height: 40px;
	width: 40px;
}
.info{
	display: flex;
}
.image img{
	height: 300px;
	width: 600px;
}
.userinfo{
	display: flex;
	justify-content: space-between;
}
.userinfo img{
	height: 50px;
	width: 50px;
}
.addmodelateur{
	padding: 10px;
	margin: 10px;
	background: green;
	font-size: 20px;
	border-radius: 20px;

}
.Modifier_mod_container{
	width: 600px;
	margin: 50px auto;
	border-radius: 5px;
	box-shadow: 2px 1px 10px black;
	justify-content: center;
	padding: 10px;

}
.Modifier_mod_container img{
	width: 150px;
	height: 150px;
}
.info_profile{
  	display:flex;

  }



form label{

	width: 10px;
	float: left;
	margin-left: 15px;
	margin-top: 10px;
	font-size: 17px;
	font-weight: bolder;
	color: blue;
}

	.function :hover{
	background: rgb(81, 221, 144);
	color: black;
	border: 1px solid cyan;
		transition: .4s ease-in-out;}

input[type="text"]{

width: 190px;
	padding: 8px;
	margin-top: 8px;
	border: 1px solid #ccc;
	border-radius: 8px;
	color: black;
	font-size: 17px;
	font-weight: bolder;
	outline: none;

}

	.Modifier_mod_container input[type=submit]{
	width: 40%;
	padding: 12px 24px;
margin-top: 20px;
margin-left: 150px;
margin-bottom: 10px;
background-color: rgb(9, 122, 202);
border: 1px solid #004aad;
color: white;
font-size: 20px;
font-weight: bolder;
cursor: pointer;
border-radius: 30px;
}
.Modifier_mod_container input[type=submit]:hover{
	
background-color: greenyellow;
transition: .5s ease-in-out;
border: 1px solid #ff7200;


}	